body{
background:
  linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
  linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
  linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
background-color:#e1ebbd;
background-size: 128px 128px;
}

#container{
  width: 1350px;
  position: absolute;
}
#table{
  position: relative;
  border: 1px solid rgb(204, 255, 204);
  border-radius: 10px;
  background-color: rgba(204, 255, 204, 0.8);
  padding: 20px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 540px;
}

.stop_watch{
  font-weight: bold;
  font-size: 2em;
  margin-top: 0px;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: rgb(1, 152, 145);
}

.time{
  width: 200px;
  height: 50px;
  padding-left: 30px;
  font-size: 3em;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 25px;
}

.button{
  font-size: 15px;
  margin-right: 5px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid rgb(1, 152, 145);
}

.button:hover{
  cursor: pointer;
  background-color: white;
}

.record_table{
  margin-top: 0px;
  margin-left: 20px;
  width: 150px;
  height: 200px;
  font-weight: bold;
  font-size: 1.5em;
  overflow-y: scroll;
}

.record_table p{
  margin-top: 0px;
}

.tite{
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.5em;
}

.info{
  font-size: 1.4em;
}
